name: test

on:
  push:
    tag-ignore:
    - '**'

jobs:
  go:
    name: Go ${{matrix.go}} - ${{matrix.os}}
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: ['ubuntu-latest']
        go: ['1.18.x', '1.20.x', '1.25.x']

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: ip2x

    - name: Checkout testdata
      uses: actions/checkout@v6
      with:
        repository: pg9182/ip2x-testdata
        ref: d77ab403210e209a73a224bb69c1304c1e954ca1
        token: ${{secrets.IP2X_TESTDATA_TOKEN}}
        path: testdata

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{matrix.go}}

    - name: Setup testdata
      run: zstd --output-dir-flat=. -d ../../testdata/IP2LOCATION-LITE-DB11.IPV6.BIN.zst
      working-directory: ip2x/test

    - name: Go generate
      run: go generate && git diff --exit-code *.ip2x.go
      working-directory: ip2x
      if: matrix.go == '1.19.x'

    - name: Go vet
      run: go vet ./...
      working-directory: ip2x

    - name: Go staticcheck
      run: go run honnef.co/go/tools/cmd/staticcheck@${{matrix.go == '1.18.x' && 'v0.3.3' || matrix.go == '1.20.x' && 'v0.4.7' || 'v0.6.1'}} ./...
      working-directory: ip2x

    - name: Go test (ip2x)
      run: go test -v ./...
      working-directory: ip2x

    - name: Go test (ip2x/test)
      run: go test -v ./...
      working-directory: ip2x/test
